.OrderItem{
    display: block;
    padding:11px 10px 11px 15px;
}
.orderItem_picContainer{
    padding-right: 10px;
    display: inline-block;
}
.orderItem_pic{
    width: 90px;
    height: 90px;
}
.orderItem_content{
    display: inline-block;
    width: calc(100% - 100px);
}
.orderItem_product{
    max-width: 237px;
    font-size: 17px;
    font-weight: 700;
    color: #111;
    padding-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.orderItem_shop{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #777;
    padding-top: 9px;
    padding-bottom: 13px;
}
.orderItem_detail{
    display: flex;
    justify-content: space-between;
    height: 22px;
    line-height: 22px;
    padding-right: 4px;
}
.orderItem_price{
    font-size: 13px;
    color: #777;
    vertical-align: 1px;
    margin-left: 10px;
}
.orderItem_price::before{
    content: "\A5";
    margin-right: 1px;
}
.orderItem_btn{
    width: 80px;
    height: 22px;
    text-align: center;
    color: #fff;
    border:0;
    font-size: 14px;
}
.orderItem_btn_red{
    background-color: #e9203d;
}
.orderItem_btn_grey{
    background-color: #999;
}
.orderItem_comment{
    width: 100%;
    resize:none;
    margin-top: 10px;
    height: 50px;
}
.orderItem_star{
    font-size: 25px;
    cursor: pointer;
    color: #777777;
}
.orderItem_star_linght{
    color: #e9203d;
}
